@model GigHubOk.ViewModels.GigsDetailsViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>
    <h2>
        @Model.Gig.Artist.Name
        @if (User.Identity.IsAuthenticated)
        {
            if (Model.Following)
            {
               
                <button class="btn btn-info js-toggle-follow" artistId="@Model.Gig.ArtistId">Following</button>

            }
            else
            {
                <button class="btn btn-default js-toggle-follow" artistId="@Model.Gig.ArtistId">Follow</button>

            }
        }
    </h2>

        <p>Performing at @Model.Gig.Venue on @Model.Gig.Datetime.ToString("dd/MM/yyyy") at @Model.Gig.Datetime.ToString("HH:mm") </p>

    

    @if (User.Identity.IsAuthenticated && Model.Attending)
    {
        <p>You're going to this event.</p>

    }


</body>

@section scripts {
<script>
    $(document).ready(function () {
        FollowController.init();
    });

</script>

}